opencv-python
numpy
mediapipe>=0.8.9; platform_system != "Darwin" and platform.machine != 'arm64'
mediapipe-silicon>=0.8.9; platform_system == "Darwin" and platform.machine == 'arm64'
flask
python-dotenv
requests
pusher
wheel
gunicorn
